.test-detail .test-detail-title {
    padding: 20px 0px;
    margin-top: 10px;
}


.test-detail .test-detail-main {
    display: flex;
}


.test-detail .test-detail-main .test-detail-list {
    flex: 1;
    background: rgb(255, 255, 255);
    padding: 24px;
    margin: 0px 0px 20px;
    border-radius: 10px;
}

.test-detail .test-detail-main .test-detail-answer {
    width: 500px;
    background: rgb(255, 255, 255);
    padding: 24px;
    margin: 0px 0px 0px 20px;
    border-radius: 10px;
}
