.grade-grade .grade-grade-title {
    padding: 20px 0px;
    margin-top: 10px;
}
.grade-grade .grade-grade-content {
    background: rgb(255, 255, 255);
    padding: 24px;
    margin: 0px 0px 20px;
    border-radius: 10px;
}

.grade-grade .grade-grade-content .grade-grade-item {
    margin-bottom: 25px;
    display: flex;
}