.exam-add .exam-add-title {
    padding: 20px 0px;
    margin-top: 10px;
}
.exam-add .exam-add-content {
    background: rgb(255, 255, 255);
    padding: 24px;
    margin: 0px 0px 20px;
    border-radius: 10px;
}

.exam-add .exam-add-content .exam-add-item {
    margin-bottom: 25px;
    display: flex;
}

.line {
    text-align: center;
}